/* body and background configuration */
body {
	padding: 0;
	margin: 0;
	background-color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
}
#back-page {
	width: 1100px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	clear: both;
}

/* header and footer configuration */
nav ul {
	list-style-type: none;
	float: left;
	margin: 0;
	font-size: 20px;
}
nav li {
	background-color: inherit;
	display: inline;
	color: white;
	width: 50%;
	padding: 5px 10px;
	margin: 2px 0;
}
nav a:link {
	color: DarkViolet;
	text-decoration: none;
}
nav a:visited {
	color: DarkViolet;
}
nav a:hover {
	color: DarkMagenta;
}
header span, footer span {
	float:right;
}
footer {
	background-color: #555555;
	color: #888888;
}
footer nav a:link {
	color: #888888;
	text-decoration: none;
}
footer nav a:visited {
	color: #888888;
}
footer nav a:hover {
	color: #999999;
}
#hf-margins {
	display: block;
	text-align: center;
	width: 1100px;
	margin: 0 auto;
	padding: 10px 0;
	background-color: inherit;
}
#icon-credit {
	float: none;
	display: block;
	text-align: center;
	clear: right;
}
#icon-credit a {
	color: inherit;
}

/* inner text configuration */
section, article {
	text-align: left;
	padding: 20px;
}
h1, h2 {
	font-family: 'Roboto Mono', monospace;
}
#introduction {
	display: block;
	text-align: left;
	height: 500px;
}
p {
	padding-top: 200px;
}
#profile-photo {
	float: right;
	margin-left: 2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** timeline sub-section **/
dl {
	list-style-type: none;
}
dt {
	background-color: DarkViolet;
	color: white;
	border-radius: 0 1028px 1028px 0;
	width: 50%;
	padding: 5px 10px;
	margin: 2px 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
.timeline-date {
	float: right;
	font-size: 0.8em;
}

/* section separators */
.separator {
	display: block;
	clear: both;
	text-align: center;
	background-color: DarkViolet;
	margin: 20px 0;
	border-radius: 10px;
	color: white;
	vertical-align: middle;
	padding: 200px 0;
	max-height: 500px;
}
